body {
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Radio Canada', sans-serif;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: rgb(233, 57, 92);
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width image {
    width: 100%;
}